#workskin .phone {
  width: 100%;
  max-width: 320px;
  display: table;
  margin: auto;
  border: 1px solid;
  background-color: #dbe2ed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#workskin .phone dt {
  display: none;
}

#workskin .phone .in dd,
#workskin .phone .out dd {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.49);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
  padding: 6px 10px;
  margin: 5px 10px;
  max-width: 180px;
  color: #000000;
  line-height: 1.2em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  clear: both;
}

#workskin .phone .in dd:before,
#workskin .phone .out dd:before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.25));
  border-radius: 12px;
  opacity: 1;
  top: 0;
  left: 10px;
  right: 10px;
  height: 12px;
}

#workskin .phone .out dd {
  float: right;
  background: linear-gradient(to top, #b6e74d 0%, #8fd13e 25.6%, #8acf43 79.9%, #4ab947 100%) #8fd13e;
}

#workskin .phone .in dd {
  float: left;
  background-image: linear-gradient(to top, #e1e1e1 0%, #e0e0e0 100%);
}

#workskin .phone .time {
  margin: 0 auto;
  margin-top: 5px;
  padding-bottom: 5px;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #7c899a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.96);
}

#workskin .phone .contact {
  position: relative;
  background: linear-gradient(to top, #6D83A1 0%, #7e93af 47.6%, #8c9eb5 50.3%, #b4bfce 100%);
  border-bottom: 1px solid #000000;
  margin: 0;
  padding: 12px;
  font-size: 18px;
  font-family: inherit;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.53);
}

#workskin .phone .contact:before,
#workskin .phone .contact:after {
  position: absolute;
  top: 5px;
  bottom: 5px;
  min-width: 40px;
  border-radius: 6px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 46.9%, rgba(255, 255, 255, 0.22) 51.9%, rgba(255, 255, 255, 0.34) 100%) #486a98;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.28), 0 1px 0 rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.39);
  padding: 10px;
  font-size: 12px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

#workskin .phone .contact:before {
  content: "Messages";
  left: 5px;
}

#workskin .phone .contact:after {
  content: "Edit";
  right: 5px;
}
