/* wrapper */
.phone {
	width: 100%;
	max-width: 320px;
	display: table;
	margin: auto;
	border: 1px solid;
	background-color: #dbe2ed;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* characters's names hidden */
.phone dt {
	display: none;
}


/*
 * Texts
 */
.phone .in dd,
.phone .out dd {
	position: relative;
	clear: both;
	z-index: 1; /* so shine goes under bubble's text */
	border-radius: 12px;
	border: 1px solid rgba(0,0,0, 0.5);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.28);
	padding: 6px 10px;
	margin: 5px 10px;
	max-width: 180px;
	color: #000000;
	line-height: 1.2em;
	text-shadow: 0 1px 1px rgba(255,255,255, 0.6);
}
/* Shine at the top of texts */
.phone .in dd:before,
.phone .out dd:before {
	content: "";
	z-index: -1; /* so shine goes under bubble's text */
	display: block;
	position: absolute;
	background: linear-gradient(rgba(255,255,255, 0.76), rgba(255,255,255, 0.25));
	border-radius: 12px;
	top: 0;
	left: 10px;
	right: 10px;
	height: 12px;
}

/* outgoing texts */
.phone .out dd {
	float: right;
	background: linear-gradient(to top, #d3f8ff 0%, transparent 0.75em) #99c9ff;
	filter: hue-rotate(-10deg);
}

/* Green outgoing texts */
.phone .out.gr dd {
	background: linear-gradient(to top, #e7f585 0%, transparent 0.75em) #8fd13e;
}

/* Incoming texts */
.phone .in dd {
	float: left;
	background: linear-gradient(to top, #f5f5f5 0%, transparent 0.75em) #dddddd;
}

/*
 * Pictures
 */
.phone dd.pic {
	padding: 0;
	overflow: hidden; /* curve corners */
}
.phone .pic img {
	width: 100%;
	display: block; /* without "block" there's extra space after */
}
/* shine lays over picture */
.phone .in .pic:before,
.phone .out .pic:before {
	z-index: 0; 
}


/*
 * Links
 */
.phone a {
	word-break: break-all; /* linebreak when space runs out */
}

/*
 * Time (+ grouptext)
 */
.phone .time,
.phone.grouptext .in dt {
	clear: both;
	font-family: inherit;
	font-weight: bold;
	font-size: 0.75em;
	color: #7c899a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.96);
	margin: 0;
}

.phone .time {
	text-align: center;
	padding: 5px 0;
}

.phone.grouptext .in dt {
	padding-left: 15px;
	padding-top: 10px;
	display: table !important;
}


/*
 * Contact header
 */
.phone .contact {
	position: relative;
	background: linear-gradient(to bottom, #b2bdcc, #8a9cb4 50%, #7c91ad 50%, #6e85a3);
	border-bottom: 1px solid #000000;
	margin: 0;
	padding: 12px;
	text-align: center;
	font-size: 18px;
	font-family: inherit;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.53);
}

/* buttons */
.phone .contact:before,
.phone .contact:after {
	position: absolute;
	top: 5px;
	bottom: 5px;
	min-width: 40px;
	border-radius: 6px; 
	background: linear-gradient(to bottom, #7f99b9, #5c7ba5 50%, #486a9b 51%, #496c9b);
	box-shadow: inset 0 1px 0 rgba(0,0,0, 0.28), 0 1px 0 rgba(255,255,255, 0.12);
	border: 1px solid rgba(0,0,0, 0.39);
	padding: 10px;
	font-size: 12px;
	text-shadow: 0 -1px 1px rgba(0,0,0, 0.5);
}
.phone .contact:before {
	content: "Messages";
	left: 5px;
}
.phone .contact:after {
	content: "Edit";
	right: 5px;
}
