/*
 * wrapper
 */
#workskin .imessage {
	width: 100%;
	max-width: 320px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: table;
	margin: auto;
}


#workskin .imessage dt {
	display: none; /* characters's names hidden */
}


/*
 * All texts
 */
#workskin .imessage dd {
	margin: 0;
	margin-bottom: 3px;
	border-radius: 20px;
	padding: 8px 15px;
	max-width: 70%;
	clear: both;
	position: relative;
}
/* the last text in a series has more space after it, and a tail */
#workskin .imessage dd:last-child {
	margin-bottom: 10px;
}
#workskin .imessage dd:last-child:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 10px;
	height: 20px;
}


/*
 * Outgoing texts
 */
#workskin .imessage .out dd {
	float: right;
	background: #007aff;
	color: #FFF;
}
#workskin .imessage .out dd:last-child:after {
	right: -10px;
	border-left: 10px solid #007aff;
	border-bottom-left-radius: 20px 10px;
}

/* Green outgoing texts */
#workskin .imessage .out.gr dd {
	background: #34c759;
}
#workskin .imessage .out.gr dd:last-child:after {
	border-color: #34c759;
}

/*
 * Incoming texts
 */
#workskin .imessage .in dd {
	float: left;
	background: #e5e5ea;
	color: #000;
}
#workskin .imessage .in dd:last-child:after {
	left: -10px;
	border-right: 10px solid #e5e5ea;
	border-bottom-right-radius: 20px 10px;
}


/*
 * No-bubble texts
 */
#workskin .imessage .pic,
#workskin .imessage .emoji {
	background: none !important;
	padding: 0;
}
#workskin .imessage dd.emoji:after,
#workskin .imessage dd.pic:after {
	content: none !important;
}

#workskin .imessage .pic img,
#workskin .imessage .pic iframe {
	border-radius: 20px; /* rounded corners */
	width: 100%;
	display: block; /* without "block" there's extra space after */
}

#workskin .imessage .emoji {
	font-size: 3em; /* 3x font for emojis */
}


/*
 * Links
 */
#workskin .imessage a {
	word-break: break-all; /* linebreak when space runs out */
	color: inherit; /* color match */
}


/*
 * Time receipts
 */
#workskin .imessage .time,
#workskin .imessage.grouptext .in dt,
#workskin .imessage .read {
	clear: both;
	font-family: inherit; /* font match */
	font-weight: normal;
	color: #8e8e93;
	font-size: 0.75em;
}

/* time label */
#workskin .imessage .time {
	text-align: center;
	padding: 10px 0;
}

/* Show the names with incoming texts for grouptext mode */
#workskin .imessage.grouptext .in dt {
	padding-left: 10px;
	display: table !important;
}

/* read receipt */
#workskin .imessage .read {
	float: right;
	display: table !important;
	padding: 0;
	margin: 0;
	margin-top: -8px;
}


/*
 * Contact header
 */
#workskin .imessage .contact {
	position: relative;
	background: #f2f2f7;
	border: 1px solid rgba(60,60,67, 0.29);
	height: 60px;
	text-align: center;
	line-height: 58px;
	font-size: 20px;
	font-family: inherit;
	font-weight: bold;
	white-space: nowrap;
}
/* back arrow */
#workskin .imessage .contact:before {
	content: "";
	position: absolute;
	top: 22px;
	left: 15px;
	width: 14px;
	height: 14px;
	border-left: 2.5px solid #007aff;
	border-bottom: 2.5px solid #007aff;
	transform: rotate(45deg);
}
