#workskin .whatsapp {
  width: 100%;
  max-width: 320px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: auto;
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/WhatsApp_background.png");
  background-repeat: repeat-y;
  background-size: 100%;
}

#workskin .whatsapp dt {
  display: none;
}

#workskin .whatsapp dd {
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 65%;
  margin: 2px 15px;
  clear: both;
  position: relative;
  z-index: 2;
}

#workskin .whatsapp .out dd {
  float: right;
  background: #E1FFC7;
}

#workskin .whatsapp .in dd {
  float: left;
  background: #fbfbfb;
}

#workskin .whatsapp dd:last-child {
  margin-bottom: 10px;
}

#workskin .whatsapp dd:last-child:after {
  z-index: 1;
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  bottom: 7px;
  border-top: 9px solid;
  border-radius: 20px;
}

#workskin .whatsapp .in dd:last-child:after {
  border-color: #fbfbfb;
  transform: rotate(-240deg);
  left: -16px;
}

#workskin .whatsapp .out dd:last-child:after {
  border-color: #E1FFC7;
  transform: rotate(240deg);
  right: -16px;
}

#workskin .whatsapp .day {
  max-width: 100px;
  background: #D4EAF4;
  background-size: 100px;
  color: #8B9295;
  font-size: .6em;
  font-weight: bold;
  padding: .5em .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  text-align: center;
  text-transform: uppercase;
  display: table;
}

/* Timestamp */
#workskin .whatsapp dd sub {
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
  padding: 3px;
  padding-right: 0;
  float: right;
  bottom: -5px;
  vertical-align: inherit;
}

#workskin .whatsapp dd sub:after {
  content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_read.png");
  margin-left: 3px;
}

#workskin .whatsapp dd sub.received:after {
  content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_received.png");
}

#workskin .whatsapp dd sub.notreceived:after {
  content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_no-received.png");
}
