/* wrapper */
.whatsapp {
	width: 100%;
	max-width: 320px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: table;
	margin: auto;
	background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/WhatsApp_background.png");
	background-repeat: repeat-y;
	background-size: 100%;
}

/* characters's names hidden */
.whatsapp dt {
	display: none;
}

/**************************************************
*		Texts
**************************************************/
.whatsapp dd {
	max-width: 65%;
	clear: both;
	position: relative;
	color: #000000;
	line-height: 1.25em;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 1px 15px;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
/*	box-shadow: 0px 1px 2px rgba(0,0,0, 0.2);*/
	z-index: 1;
}
.whatsapp dd:last-child {
	margin-bottom: 10px;
}
.whatsapp dd:last-of-type:after {
	content: "";
	position: absolute;
	width: 25px;
	height: 16px;
	bottom: 4px;
	border-top: 9px solid;
	border-radius: 100%;
/*	box-shadow: 0px -1px 2px rgba(0,0,0, 0.2);*/
	clip: rect(0px,16px,16px,0px); /* use only a 16x square */
	z-index: -1;
}

/* Outgoing texts */
.whatsapp .out dd {
	float: right;
	background: #DCF8C6;
}
.whatsapp .out dd:last-of-type:after {
	border-color: #DCF8C6;
	transform: rotate(240deg);
	right: -16px;
}

/* Incoming texts */
.whatsapp .in dd {
	float: left;
	background: #FFFFFF;
}
.whatsapp .in dd:last-of-type:after {
	border-color: #FFFFFF;
	transform: scaleX(-1) rotate(240deg);
	left: -16px;
}

/**************************************************
*		Time
**************************************************/
.whatsapp .day,
.whatsapp dd sub {
	font-family: inherit;
	font-size: 0.75em;
	color: #999;
	text-transform: uppercase;
}

.whatsapp .day {
	width: 100px;
	background: #D4EAF4;
	border-radius: 5px;
	padding: 5px;
	margin: 10px auto;
	text-align: center;
	display: table;
}

.whatsapp dd sub {
	display: inline-block;
	float: right;
	line-height: 1.3em;
	padding-top: 0.5em;
	padding-left: 1.5em;
	margin: 0;
}

/* checkmarks */
.whatsapp .out dd sub:after {
	content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_read.png");
	margin-left: 3px;
}
.whatsapp .out dd sub.received:after {
	content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_received.png");
}
.whatsapp .out dd sub.notreceived:after {
	content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_no-received.png");
}

/**************************************************
*		Big emojis
**************************************************/
.whatsapp dd.emoji1 {
	font-size: 2.5em;
}
.whatsapp dd.emoji2 {
	font-size: 2em;
}
.whatsapp dd.emoji3 {
	font-size: 1.5em;
}
.whatsapp dd.emoji1 sub,
.whatsapp dd.emoji2 sub,
.whatsapp dd.emoji3 sub {
	display: block;
	float: none;
	text-align: right;
	padding: 0 !important;
}
.whatsapp dd.emoji1 sub {
	font-size: 0.3em;
}
.whatsapp dd.emoji2 sub {
	font-size: 0.375em;
}
.whatsapp dd.emoji3 sub {
	font-size: 0.5em;
}

/**************************************************
*		Pictures
**************************************************/
.whatsapp .pic {
	padding: 3px;
}
.whatsapp .pic img {
	border-radius: 3px;
	width: 100%;
	display: block;
}
/* Timestamp white and in image corner */
.whatsapp .pic.solo sub {
	color: #ffffff;
	position: absolute;
	bottom: 2px;
	right: 5px;
}

/**************************************************
*		Links
**************************************************/
.whatsapp a {
	word-break: break-all; /* linebreak when space runs out */
}

/**************************************************
*		Contact header
**************************************************/
.whatsapp .contact {
	position: relative;
	background: #075E54;
	margin: 0;
	padding: 10px;
	line-height: 30px;
	font-size: 15px;
	font-family: inherit;
	color: #FFFFFF;
	font-weight: bold;
/* text overflow */
	text-align: left;
	padding-left: 65px;
	padding-right: 120px;
	max-width: 135px; /* 320 - (120 + 65) */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.whatsapp .contact:before,
.whatsapp .contact:after {
	content: "";
	position: absolute;
	top: 10px;
	bottom: 10px;
	background-repeat: no-repeat;
}

/* back arrow + person icon */
.whatsapp .contact:before {
	left: 5px;
	width: 50px;
	background-image: url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/white/fa-arrow-left.png?raw=true"), url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/white/fa-user-circle.png?raw=true");
	background-position: left, right;
	background-size: auto 15px, 30px;
}

/* video camera + phone + ellipsis */
.whatsapp .contact:after {
	right: 10px;
	width: 100px;
	background-image: url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/white/fa-video.png?raw=true"), url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/white/fa-phone-alt.png?raw=true"), url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/white/fa-ellipsis-v.png?raw=true");
	background-position: 0, 46px, 90px;
	background-size: 20px auto, auto 16px, auto 16px;
}

/**************************************************
*		Footer
**************************************************/
.whatsapp .footer {
  display: table;
	position: relative;
	clear: both;
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

/* Mic circle */
.whatsapp .footer:after{
	content: "";
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 2.3em;
	height: 2.3em;
	border-radius: 100%;
	background: #128C7E;
	background-repeat: no-repeat;
	background-image: url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/white/fa-microphone.png?raw=true");
	background-position: center;
	background-size: 0.5em auto;
}

.footer .typebar {
	position: relative;
	background: #FFFFFF;
	margin: 0;
	margin-right: 2.5em;
	padding: 0.6em 2em;
	border-radius: 2em;
}

/* Either end of typebar icons */
.whatsapp .footer .typebar:before {
	content: "";
	position: absolute;
	left: 0.5em;
	right: 0.5em;
	bottom: 0.3em;
	height: 1.8em;
	background: url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/black/fa-grin.png?raw=true"), url("https://github.com/Azdaema/AO3-Skin_Messaging/blob/master/FontAwesome/black/fa-camera.png?raw=true");
	background-repeat: no-repeat;
	background-size: 1em auto;
	background-position: left , right;
	opacity: 0.5;
}


/* blue cursor */
.whatsapp .footer .typebar:after{
	content: "";
	border-right: 2px solid #007aff;
}
