#workskin .whatsapp {
  width: 100%;
  max-width: 320px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: auto;
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/WhatsApp_background.png");
  background-repeat: repeat-y;
  background-size: 100%;
}

#workskin .whatsapp dt {
  display: none;
}

#workskin .whatsapp dd {
  max-width: 65%;
  clear: both;
  position: relative;
  color: #000000;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 1px 15px;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
}

#workskin .whatsapp dd:last-child {
  margin-bottom: 10px;
}

#workskin .whatsapp dd:last-child:after {
  z-index: 1;
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  bottom: 7px;
  border-top: 9px solid;
  border-radius: 20px;
}

#workskin .whatsapp .out dd {
  float: right;
  background: #E1FFC7;
}

#workskin .whatsapp .out dd:last-child:after {
  border-color: #E1FFC7;
  transform: rotate(240deg);
  right: -16px;
}

#workskin .whatsapp .in dd {
  float: left;
  background: #fbfbfb;
}

#workskin .whatsapp .in dd:last-child:after {
  border-color: #fbfbfb;
  transform: rotate(-240deg);
  left: -16px;
}

#workskin .whatsapp .day,
#workskin .whatsapp dd sub {
  font-family: inherit;
  font-size: 0.75em;
  color: #999;
  text-transform: uppercase;
}

#workskin .whatsapp .day {
  width: 100px;
  background: #D4EAF4;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
  display: table;
}

#workskin .whatsapp dd sub {
  display: inline-block;
  float: right;
  line-height: 1.3em;
  padding-top: 0.5em;
  padding-left: 1.5em;
  margin: 0;
}

#workskin .whatsapp .out dd sub:after {
  content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_read.png");
  margin-left: 3px;
}

#workskin .whatsapp .out dd sub.received:after {
  content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_received.png");
}

#workskin .whatsapp .out dd sub.notreceived:after {
  content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_no-received.png");
}

#workskin .whatsapp dd.emoji1 {
  font-size: 2.5em;
}

#workskin .whatsapp dd.emoji2 {
  font-size: 2em;
}

#workskin .whatsapp dd.emoji3 {
  font-size: 1.5em;
}

#workskin .whatsapp dd.emoji1 sub,
#workskin .whatsapp dd.emoji2 sub,
#workskin .whatsapp dd.emoji3 sub {
  display: block;
  float: none;
  text-align: right;
  padding: 0 !important;
}

#workskin .whatsapp dd.emoji1 sub {
  font-size: 0.3em;
}

#workskin .whatsapp dd.emoji2 sub {
  font-size: 0.375em;
}

#workskin .whatsapp dd.emoji3 sub {
  font-size: 0.5em;
}
