/*
 * Both wrapper properties
 */
#workskin .imessenger,
#workskin .snapchat {
  width: 100%;
  max-width: 320px;
	/* On phones less than 320px, it's the full width wide.
	   On larger screens than that, it's 320px. */
  margin: 15px auto;
	/* Auto margin on the sides centers it in the middle of the screen
	   + 15px on the top and bottom, so the bordered sections don't touch each other */
  border: 1px solid #7B7C80;
  padding: 0 10px; /* We don't want the bubbles TOUCHING the border, we want a little padding on the sides */
  box-sizing: border-box; /* so the padding doesn't mess up the width on small screen (ie phones) */
}


/*************************************************************************************
                                     iMessenger
*************************************************************************************/
/*
 * wrapper
 */
#workskin .imessenger {
  display: table; /* So the bubbles work correctly */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* characters's names hidden */
#workskin .imessenger dt {
  display: none;
}

/* Shared properties of all texts */
#workskin .imessenger dd {
  border-radius: 20px; /* rounded corners */
  position: relative;
  clear: both; /* no stacking small bubbles on the same line */
  max-width: 70%;
  margin: 0;
  margin-bottom: 3px;
  padding: 8px 15px;
}
/* the last text in a series has more space after it */
#workskin .imessenger dd:last-child {
  margin-bottom: 10px;
}
/* Shared properties of both tails for both*/
#workskin .imessenger dd:last-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 20px;
}

/*
 * Outgoing texts
 */
#workskin .imessenger .out dd {
  float: right;
  background: #1289fe;
  color: #FFF;
}
/* tail */
#workskin .imessenger .out dd:last-child:after {
  right: -10px;
  border-left: 10px solid #1289fe;
  border-bottom-left-radius: 20px 10px;
}

/*
 * Incoming texts
 */
#workskin .imessenger .in dd {
  float: left;
  background: #e5e5ea;
  color: #000;
}
/* tail */
#workskin .imessenger .in dd:last-child:after {
  left: -10px;
  border-right: 10px solid #e5e5ea;
  border-bottom-right-radius: 20px 10px;
}


/*
 * No-bubble texts
 */
#workskin .imessenger .pic,
#workskin .imessenger .emoji {
  background: none !important;/* !important = override the other rule that says to have a background */
  padding: 0;
}
/* no tail */
#workskin .imessenger dd.emoji:after,
#workskin .imessenger dd.pic:after {
  content: none !important;
}

#workskin .imessenger .pic img,
#workskin .imessenger .pic iframe {
  border-radius: 20px; /* rounded corners */
  width: 100%;
  display: block; /* without "block" there's extra space after */
}
 /* 3x size font for emojis */
#workskin .imessenger .emoji {
  font-size: 3em;
}


/*
 * Links
 */
#workskin .imessenger a {
  word-break: break-all; /* linebreak when space runs out */
  color: inherit; /* color match */
}

/*
 * Time receipts
 */
#workskin .imessenger .time {
  clear: both; /* no stacking it on the same line as other stuff */
  font-family: inherit; /* font match */
  font-weight: normal;
  color: #7B7C80;
  font-size: 0.75em;
  text-align: center;
  padding: 10px 0; /* 10px before and after */
}


/*************************************************************************************
                                     Snapchat
*************************************************************************************/
/*
 * wrapper
 */
#workskin .snapchat {
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
  padding-bottom: 10px;
	/* because there aren't bubbles with after-spacing here,
	this is so the bottom border isn't right up agaist the last text */
}

/* Names and dates have the same font style */
#workskin .snapchat dt,
#workskin .snapchat .day {
  font-family: inherit; /* font matches */
  font-weight: normal; /* not bold */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
  padding-top: 10px;
}

/* Day */
#workskin .snapchat .day {
  text-align: center;
  color: #7B7C80;
}

/* Shared properties of all texts */
#workskin .snapchat dd {
  margin: 0;
  margin-left: 2px;
  padding: 4px 10px;
  border-left: solid 2px;
}

/*
 * Outgoing/red
 */
#workskin .snapchat .out dt {
  color: #e74057;
}
#workskin .snapchat .out dd {
  border-color: #e74057;
}

/*
 * Incoming/blue
 */
#workskin .snapchat .in dt {
  color: #10a7f0;
}
#workskin .snapchat .in dd {
  border-color: #10a7f0;
}


/*
 * Big emojis
 */
#workskin .snapchat .emoji {
  font-size: 3em;
}


/*
 * Icon buttons
 */
#workskin .snapchat .icon {
  display: block;
  width: 100%;
  height: 2em;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0, 0.15);
  background: rgba(255, 255, 255, 0.3);
  padding: 0.5em 0;
}
/* Hidden backup for icon buttons */
#workskin .snapchat .icon i {
  display: none;
}

/* Icon image */
#workskin .snapchat .icon:before {
  content: "";
  float: left;
  display: inline-block;
  margin: 0.5em;
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
}
/* Icon text */
#workskin .snapchat .icon:after {
  float: left;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 0;
  line-height: 1em;
}

/*
 * Opened
 */
#workskin .snapchat .icon.opened:after {
  content: "Opened";
}
/* Outgoing (arrow) */
#workskin .snapchat .out .icon.opened:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/opened_red.png");
}
#workskin .snapchat .out .icon.opened.purple:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/opened_purple.png");
}
#workskin .snapchat .out .icon.opened.blue:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/opened_blue.png");
}
/* Incoming (box) */
#workskin .snapchat .in .icon.opened:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/viewed_red.png");
}
#workskin .snapchat .in .icon.opened.purple:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/viewed_purple.png");
}
#workskin .snapchat .in .icon.opened.blue:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/viewed_blue.png");
}

/*
 * Unopened
 */
#workskin .snapchat .icon.unopened:after {
  content: "Delivered";
}
/* Outgoing (arrow) */
#workskin .snapchat .out .icon.unopened:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/sent_red.png");
}
#workskin .snapchat .out .icon.unopened.purple:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/sent_purple.png");
}
#workskin .snapchat .out .icon.unopened.blue:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/sent_blue.png");
}
/* Incoming (box) */
#workskin .snapchat .in .icon.unopened:after {
  content: "Press and hold to view";
}
#workskin .snapchat .in .icon.unopened:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/received_red.png");
}
#workskin .snapchat .in .icon.unopened.purple:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/received_purple.png");
}
#workskin .snapchat .in .icon.unopened.blue:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/received_blue.png");
}

/*
 * Screenshot
 */
#workskin .snapchat .icon.screenshot:after {
  content: "Screenshot!";
}
#workskin .snapchat .icon.screenshot:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/screenshot_red.png");
}
#workskin .snapchat .icon.screenshot.purple:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/screenshot_purple.png");
}
#workskin .snapchat .icon.screenshot.blue:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/screenshot_blue.png");
}

/*
 * Replay
 */
#workskin .snapchat .icon.replay:after {
  content: "Replay!";
}
#workskin .snapchat .icon.replay:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/replay_red.png");
}
#workskin .snapchat .icon.replay.purple:before {
  background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/Snapchat/icons/replay_purple.png");
}


/*
 * Icon message if clicked
 */
#workskin .snapchat.nonudes .icon:active:after {
  font-size: 0.8em;
  content: "[No actual nudes. Sorry. This is a fanfic.]" !important;
}
