/*
 * wrapper
 */
#workskin .imessenger {
	width: 100%;
	max-width: 320px;
	/* On phones less than 320px, it's the full width wide.
	   On larger screens than that, it's 320px. */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: table;
	margin: auto; /* centering it in the middle of the page */
}


#workskin .imessenger dt {
	display: none; /* characters's names hidden */
}


/*
 * All texts
 */
#workskin .imessenger dd {
	margin: 0;
	margin-bottom: 3px;
	border-radius: 20px; /* rounded corners */
	padding: 8px 15px;
	max-width: 70%;
	clear: both; /* no stacking small bubbles on the same line */
	position: relative;
}
/* the last text in a series has more space after it, and a tail */
#workskin .imessenger dd:last-child {
	margin-bottom: 10px;
}
#workskin .imessenger dd:last-child:after { /* tail */
	content: "";
	position: absolute;
	bottom: 0;
	width: 10px;
	height: 20px;
}


/*
 * Outgoing texts
 */
#workskin .imessenger .out dd {
	float: right;
	background: #1289fe;
	color: #FFF;
}
#workskin .imessenger .out dd:last-child:after { /* tail */
	right: -10px;
	border-left: 10px solid #1289fe;
	border-bottom-left-radius: 20px 10px;
}

/*
 * Incoming texts
 */
#workskin .imessenger .in dd {
	float: left;
	background: #e5e5ea;
	color: #000;
}
#workskin .imessenger .in dd:last-child:after { /* tail */
	left: -10px;
	border-right: 10px solid #e5e5ea;
	border-bottom-right-radius: 20px 10px;
}


/*
 * No-bubble texts
 */
#workskin .imessenger .pic,
#workskin .imessenger .emoji {
	background: none !important;/* !important = override the other rule that says to have a background */
	padding: 0;
}
#workskin .imessenger dd.emoji:after,
#workskin .imessenger dd.pic:after {
	content: none !important; /* no tail */
}

#workskin .imessenger .pic img,
#workskin .imessenger .pic iframe {
	border-radius: 20px; /* rounded corners */
	width: 100%;
	display: block; /* without "block" there's extra space after */
}

#workskin .imessenger .emoji {
	font-size: 3em; /* 3x size font for emojis */
}


/*
 * Links
 */
#workskin .imessenger a {
	word-break: break-all; /* linebreak when space runs out */
	color: inherit; /* color match */
}


/*
 * Time receipts
 */
#workskin .imessenger .time {
	clear: both; /* no stacking it on the same line as other stuff */
	font-family: inherit; /* font match */
	font-weight: normal;
	color: #7B7C80;
	font-size: 0.75em; /* 75% size font */
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
